# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Exercise1/extercise1_test
Exercise1/tinydb/bin/
Assignment1/Exercise1/tinydb/bin/
