# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Exercise1/extercise1_test
Exercise1/tinydb/bin/
Assignment1/Exercise1/tinydb/bin/
tinydb/src/boost/
tinydb/bin/Admin.d
tinydb/bin/Attribute.d
tinydb/bin/Database.d
tinydb/bin/Register.d
tinydb/bin/Table.d
tinydb/bin/data/assistenten
tinydb/bin/data/assistenten.idx
tinydb/bin/data/hoeren
tinydb/bin/data/hoeren.idx
tinydb/bin/data/loaduni
tinydb/bin/data/loaduni.cmd
tinydb/bin/data/professoren
tinydb/bin/data/professoren.idx
tinydb/bin/data/pruefen
tinydb/bin/data/pruefen.idx
tinydb/bin/data/studenten
tinydb/bin/data/studenten.idx
tinydb/bin/data/uni
tinydb/bin/data/voraussetzen
tinydb/bin/data/voraussetzen.idx
tinydb/bin/data/vorlesungen
tinydb/bin/data/vorlesungen.idx
tinydb/bin/examples/ChiExample.d
tinydb/bin/examples/JoinExample.d
tinydb/bin/examples/ScanExample.d
tinydb/bin/examples/SelectExample.d
tinydb/bin/exercises/assignment3.d
tinydb/bin/exercises/exercise1a.d
tinydb/bin/exercises/exercise1b.d
tinydb/bin/operator/Chi.d
tinydb/bin/operator/CrossProduct.d
tinydb/bin/operator/HashJoin.d
tinydb/bin/operator/Indexscan.d
tinydb/bin/operator/Operator.d
tinydb/bin/operator/Printer.d
tinydb/bin/operator/Projection.d
tinydb/bin/operator/Selection.d
tinydb/bin/operator/Tablescan.d
tinydb/bin/parser/Attribute.d
tinydb/bin/parser/Constant.d
tinydb/bin/parser/JoinCondition.d
tinydb/bin/parser/Parser.d
tinydb/bin/parser/Query.d
tinydb/bin/parser/Relation.d
tinydb/bin/parser/Selection.d
tinydb/.cproject
tinydb/.project
tinydb/boost_1_55_0.zip
